
/* tableau des jours */
.Gtab1
{
	font-family: 	Calibri;
	font-weight: 	normal;
	font-size:	12px;
	text-decoration: none;
	border:	solid 1px;
	background:	#949fc7;
	width:		100%;
	border-bottom: none;
	padding-bottom: 10px;
	padding-left: 20px;
	background-color:#fff;
	border-color: #414141;

}
.Gtab2
{
	font-family: 	Calibri;
	font-weight: 	normal;
	font-size:	12px;
	text-decoration: none;
	border:	solid 1px;
	background:	#949fc7;
	width:		100%;
	border-top: none;
	border-color: #414141;
	background: #fff;


}
/* champs texte */
.Gname
{
	font-family: 	Calibri;
	font-weight: 	bold;
	font-size:	15px;
	color:		#f00;
	text-decoration: none;
	cursor:		pointer;
}

/* champs texte */
.Gtxt
{
	font-family: 	Calibri;
	font-weight: 	normal;
	font-size:	12px;
	color:		#6c628a;
	text-decoration: none;
	margin-left:	0px;
}
/* en-tete semaine */
.Gh1, .Gh2, .Gh3, .Gh4, .Gh5
{
	width: 		35px;
	height: 	26px;
	font-size:	16px;
	background:	#fff;
	font-family: 	Calibri;
	font-weight: 	bold;
	color:		#000;
	text-align:	center;
	line-height:	16px;
}
.Gh0, .Gh6
{
	width: 		35px;
	font-size:	16px;
	height: 	26px;
	background:	#fff;
	font-family: 	Calibri;
	font-weight: 	bold;
	color:		#000;
	text-align:	center;
	line-height:	16px;
}
.Gfree
{
	width: 		35px;
	height: 	26px;
	background:	#b7a9c7;
	font-family: 	Calibri;
	font-weight: 	normal;
	padding:	0px;
	margin:		0px;
	color:		#000000;
	text-align:	center;
	cursor: 	pointer;
	line-height:	16px;
}
.Gfreeon
{
	width: 		35px;
	height: 	26px;
	background:	#b9c0d9;
	font-family: 	Calibri;
	font-weight: 	normal;
	padding:	0px;
	margin:		0px;
	color:		#000000;
	text-align:	center;
	cursor: 	pointer;
	line-height:	16px;
}
.Gc1, .Gc2, .Gc3, .Gc4, .Gc5
{
	width: 		35px;
	height: 	26px;
	background:	#fff;=
	font-family: 	Calibri;
	font-weight: 	normal;
	padding:	0px;
	margin:		0px;
	color:		#000000;
	text-align:	center;
	cursor: 	default;
	line-height:	16px;
	border-radius: 3px;
	border-radius: 5px;
}
.Gc1on, .Gc2on, .Gc3on, .Gc4on, .Gc5on
{
	width: 		35px;
	height: 	16px;
	background:	#414141;
	font-family: 	Calibri;
	font-weight: 	normal;
	padding:	0px;
	margin:		0px;
	color:		#ffffff;	
	text-align:	center;
	cursor: 	pointer;
	line-height:	16px;
	border-radius: 5px;
}
.Gc0, .Gc6
{
	width: 		35px;
	height: 	16px;
	background:	#fff;
	font-family: 	Calibri;
	font-weight: 	normal;
	padding:	0px;
	margin:		0px;
	color:		#000000;
	text-align:	center;
	cursor: 	default;
	line-height:	16px;
	border-radius: 5px;
}
.Gc0on, .Gc6on
{
	width: 		35px;
	height: 	26px;
	background:	#414141;
	font-family: 	Calibri;
	font-weight: 	normal;
	padding:	0px;
	margin:		0px;
	color:		#ffffff;
	text-align:	center;
	cursor: 	pointer;
	line-height:	16px;
	border-radius: 5px;
}
.Gc
{
	width: 		35px;
	height: 	16px;
	border:		solid 1px #ffffff;
	background:	#2f5496;
	font-family: 	Calibri;
	font-weight: 	normal;
	padding:	0px;
	margin:		0px;
	color:		#000000;
	text-align:	center;
	cursor: 	default;
	line-height:	16px;
	border-radius: 5px;
}
.Gcon
{
	width: 		35px;
	height: 	16px;
	border:		solid 1px #2f5496;
	background:	#ffffff;
	font-family: 	Calibri;
	font-weight: 	normal;
	padding:	0px;
	margin:		0px;
	color:		#000000;
	text-align:	center;
	cursor: 	pointer;
	line-height:	16px;
	border-radius: 5px;

}
